 .u-section-1 {
  background-image: url("images/ww.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 729px;
}

.u-section-1 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: 9px auto 0;
}

.u-section-1 .u-line-2 {
  width: 912px;
  height: 3px;
  transform-origin: center top 0px;
  border-style: dashed;
  margin: 9px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 51px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 532px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 532px;
  width: 532px;
  margin: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 532px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 25px;
}

.u-section-1 .u-text-1 {
  font-size: 4.25rem;
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: bold;
  font-family: Merriweather, serif;
  margin: 203px 9px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 21px 1px 0 8px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: bold;
  font-family: Merriweather, serif;
  margin: 86px 167px 0 0;
}

.u-section-1 .u-line-3 {
  width: 912px;
  height: 3px;
  transform-origin: center top 0px;
  border-style: dashed;
  margin: 61px auto 0;
}

.u-section-1 .u-line-4 {
  width: 912px;
  height: 3px;
  transform-origin: center top 0px;
  margin: 9px auto 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-1 .u-line-1 {
    transform-origin: center top 0px;
    margin-top: 35px;
  }

  .u-section-1 .u-line-2 {
    margin-top: 14px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 66.88% 50%;
    min-height: 439px;
  }

  .u-section-1 .u-image-1 {
    height: NaNpx;
    width: 439px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 439px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 15px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.625rem;
    width: auto;
    margin-top: 0;
    margin-right: -7px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: -7px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 405px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
    margin-top: -8px;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 68px;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 56.04% 50%;
    min-height: 372px;
  }

  .u-section-1 .u-image-1 {
    width: 372px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 50px 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
    margin-top: 15px;
    margin-right: -1px;
    margin-left: 51px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 15px;
    margin-right: 9px;
    margin-left: 41px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-line-3 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-4 {
    width: 720px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
    margin-top: 509px;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1px;
  }

  .u-section-1 .u-layout-cell-1 {
    order: 1;
    min-height: 496px;
  }

  .u-section-1 .u-image-1 {
    height: 372px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    order: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-3 {
    margin-top: -64px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-line-4 {
    margin-top: 15px;
    margin-bottom: 44px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 340px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 41px;
  }

  .u-section-1 .u-line-3 {
    margin-top: 34px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-line-4 {
    margin-bottom: 15px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 486px;
}

.u-section-2 .u-text-1 {
  font-size: 4.25rem;
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: bold;
  font-family: Merriweather, serif;
  margin: 32px 220px 0 246px;
}

.u-section-2 .u-list-1 {
  margin-top: 32px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 268px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 40px 20px;
}

.u-section-2 .u-line-1 {
  width: 41px;
  transform-origin: left center 0px;
  height: 8px;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  text-align: left;
  font-weight: bold;
  font-size: 1.875rem;
  margin: 11px auto 0 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  text-align: left;
  font-size: 1.25rem;
  margin: 14px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 40px 20px;
}

.u-section-2 .u-line-2 {
  width: 41px;
  transform-origin: left center 0px;
  height: 8px;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  text-align: left;
  font-weight: bold;
  font-size: 1.875rem;
  margin: 11px auto 0 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  text-align: left;
  font-size: 1.25rem;
  margin: 14px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 40px 20px;
}

.u-section-2 .u-line-3 {
  width: 41px;
  transform-origin: left center 0px;
  height: 8px;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  text-align: left;
  font-weight: bold;
  font-size: 1.875rem;
  margin: 11px auto 0 0;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  text-align: left;
  font-size: 1.25rem;
  margin: 14px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 674px;
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-list-1 {
    margin-top: 14px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 310px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 80px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-2 .u-list-1 {
    width: 697px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 577px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 846px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 60px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 15px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 707px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: linear-gradient(black, #ffa900);
}

.u-section-3 .u-sheet-1 {
  min-height: 846px;
}

.u-section-3 .u-shape-1 {
  width: 824px;
  height: 279px;
  margin: 370px 145px 0 auto;
}

.u-section-3 .u-shape-2 {
  width: 913px;
  height: 331px;
  margin: -483px auto 0;
}

.u-section-3 .u-group-1 {
  width: 889px;
  min-height: 279px;
  background-image: none;
  margin: -425px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 136px 79px 0 57px;
}

.u-section-3 .u-shape-3 {
  width: 233px;
  height: 141px;
  margin: -209px 19px 0 auto;
}

.u-section-3 .u-shape-4 {
  width: 205px;
  height: 122px;
  margin: -28px auto 0 19px;
}

.u-section-3 .u-text-2 {
  font-size: 6rem;
  font-family: Merriweather, serif;
  margin: -227px 388px 0 68px;
}

.u-section-3 .u-group-2 {
  width: 889px;
  min-height: 202px;
  background-image: none;
  margin: 203px auto 0 30px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-3 .u-shape-5 {
  width: 216px;
  height: 67px;
  margin: 15px auto 0 23px;
}

.u-section-3 .u-shape-6 {
  width: 314px;
  height: 64px;
  margin: 41px 24px 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: -105px 57px 0;
}

.u-section-3 .u-group-3 {
  width: 889px;
  min-height: 258px;
  background-image: none;
  margin: -437px 0 60px auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 65px 57px 0;
}

.u-section-3 .u-shape-7 {
  width: 345px;
  height: 120px;
  margin: -163px auto 0 23px;
}

.u-section-3 .u-shape-8 {
  width: 379px;
  height: 121px;
  margin: -56px 23px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-3 .u-shape-1 {
    margin-right: 116px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 152px;
    margin-left: 69px;
    margin-right: 69px;
  }

  .u-section-3 .u-shape-3 {
    margin-right: 255px;
  }

  .u-section-3 .u-shape-4 {
    margin-left: 255px;
  }

  .u-section-3 .u-text-2 {
    width: 423px;
    margin-top: -215px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-group-2 {
    margin-top: 197px;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 45px;
    padding-right: 45px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 44px;
    margin-right: 63px;
    margin-left: 51px;
  }

  .u-section-3 .u-group-3 {
    margin-top: -431px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 36px;
    margin-right: 38px;
    margin-left: 128px;
  }

  .u-section-3 .u-shape-8 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1055px;
  }

  .u-section-3 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-shape-2 {
    width: 720px;
  }

  .u-section-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: 405px;
    margin-top: -247px;
  }

  .u-section-3 .u-group-2 {
    min-height: 263px;
    margin-top: 230px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 40px 40px 51px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-3 {
    min-height: 283px;
    margin-top: -475px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 40px 40px 60px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-3 .u-shape-2 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 101px;
    margin-left: 9px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -252px;
    margin-right: 38px;
    margin-left: 47px;
  }

  .u-section-3 .u-group-2 {
    min-height: 266px;
    margin-top: 281px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 0 30px 62px;
  }

  .u-section-3 .u-group-3 {
    margin-top: -526px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 21px;
    padding-right: 21px;
    padding-bottom: 39px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 0;
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1212px;
  }

  .u-section-3 .u-shape-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-1 {
    min-height: 332px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 65px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-shape-3 {
    margin-right: 87px;
  }

  .u-section-3 .u-shape-4 {
    margin-top: 20px;
    margin-right: 19px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
    width: 151px;
    margin-top: -302px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-group-2 {
    min-height: 386px;
    margin-top: 353px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 77px;
    margin-bottom: -12px;
  }

  .u-section-3 .u-group-3 {
    min-height: 407px;
    margin-top: -709px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 30px 30px 25px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-shape-7 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-8 {
    width: 340px;
    margin-left: 0;
  }
} .u-section-4 {
  background-image: linear-gradient(#ffa900, #e99465);
}

.u-section-4 .u-sheet-1 {
  min-height: 950px;
}

.u-section-4 .u-line-1 {
  left: 109px;
  top: 32px;
  transform-origin: center top 0px;
  position: absolute;
  height: 26px;
  width: 10px;
  transform: rotate(360deg);
}

.u-section-4 .u-line-2 {
  left: auto;
  top: 731px;
  transform-origin: left center 0px;
  position: absolute;
  width: 40px;
  height: 10px;
  right: 464px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1090px;
  margin: 58px 0 0 auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 779px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  line-height: 1.2;
  text-transform: none;
  font-size: 6rem;
  font-weight: bold;
  margin: 293px 65px 0 77px;
}

.u-section-4 .u-text-2 {
  line-height: 1.2;
  text-transform: none;
  font-size: 6rem;
  margin: -105px 82px 0 65px;
}

.u-section-4 .u-shape-1 {
  width: 416px;
  height: 10px;
  margin: -10px auto 0 65px;
}

.u-section-4 .u-line-3 {
  height: 10px;
  margin-bottom: 0;
  margin-top: 321px;
  transform-origin: left center 0px;
}

.u-section-4 .u-line-4 {
  left: 0;
  top: 0;
  position: absolute;
  width: 10px;
  transform-origin: center bottom 0px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 779px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  text-decoration: none solid rgb(17, 17, 17);
  font-size: 1.5rem;
  font-weight: bold;
  margin: 69px auto 0;
}

.u-section-4 .u-text-4 {
  text-transform: uppercase;
  text-decoration: none solid rgb(17, 17, 17);
  font-size: 1.5rem;
  font-weight: bold;
  margin: 35px auto 0;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  text-decoration: none solid rgb(17, 17, 17);
  font-size: 1.5rem;
  font-weight: bold;
  margin: 35px auto 0;
}

.u-section-4 .u-text-6 {
  text-transform: uppercase;
  text-decoration: none solid rgb(17, 17, 17);
  font-size: 1.5rem;
  font-weight: bold;
  margin: 35px auto 0;
}

.u-section-4 .u-text-7 {
  text-transform: uppercase;
  text-decoration: none solid rgb(17, 17, 17);
  font-size: 1.5rem;
  font-weight: bold;
  margin: 35px auto 0;
}

.u-section-4 .u-text-8 {
  text-transform: uppercase;
  text-decoration: none solid rgb(17, 17, 17);
  font-size: 1.5rem;
  font-weight: bold;
  margin: 35px auto 0;
}

.u-section-4 .u-text-9 {
  text-transform: uppercase;
  text-decoration: none solid rgb(17, 17, 17);
  font-size: 1.5rem;
  font-weight: bold;
  margin: 35px auto 0;
}

.u-section-4 .u-text-10 {
  text-transform: uppercase;
  text-decoration: none solid rgb(17, 17, 17);
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px auto 0;
}

.u-section-4 .u-text-11 {
  text-transform: uppercase;
  text-decoration: none solid rgb(17, 17, 17);
  font-size: 1.5rem;
  font-weight: bold;
  margin: 23px auto 0;
}

.u-section-4 .u-text-12 {
  text-transform: uppercase;
  text-decoration: none solid rgb(17, 17, 17);
  font-size: 1.5rem;
  font-weight: bold;
  margin: 23px auto 0;
}

.u-section-4 .u-shape-2 {
  width: 570px;
  height: 713px;
  margin: -780px auto 60px 109px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 843px;
  }

  .u-section-4 .u-line-1 {
    transform-origin: left center 0px;
    transform: rotate(35deg);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 672px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 24px;
    margin-left: 36px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 41px;
    margin-left: 24px;
  }

  .u-section-4 .u-shape-1 {
    margin-left: 24px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 75px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
  }

  .u-section-4 .u-text-5 {
    width: auto;
  }

  .u-section-4 .u-text-6 {
    width: auto;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-left: 47px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-left: 38px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: 49px;
    margin-left: 212px;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-left: 212px;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    margin-left: 212px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 59px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 663px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 4.5rem;
    width: auto;
    margin-top: 268px;
    margin-left: -13px;
    margin-right: -13px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -457px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 663px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 38px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 41px;
    margin-left: 9px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 29px;
  }

  .u-section-4 .u-text-10 {
    margin-left: 160px;
  }

  .u-section-4 .u-text-11 {
    margin-left: 160px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 160px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 117px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 8px;
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 482px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-7 {
    margin-top: 30px;
    margin-left: 36px;
    margin-right: 36px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 36px;
    margin-left: auto;
  }

  .u-section-4 .u-text-9 {
    margin-top: 30px;
    margin-left: 36px;
    margin-right: 36px;
  }

  .u-section-4 .u-text-10 {
    margin-left: 173px;
  }

  .u-section-4 .u-text-11 {
    margin-left: 173px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 173px;
  }

  .u-section-4 .u-shape-2 {
    width: 540px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 838px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 134px;
    margin-bottom: 27px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 608px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 42px;
    margin-right: 42px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 54px;
    margin-right: 54px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 39px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    width: 194px;
    margin-top: 27px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-text-10 {
    margin-left: 101px;
  }

  .u-section-4 .u-text-11 {
    margin-left: 101px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 101px;
  }

  .u-section-4 .u-shape-2 {
    width: 340px;
  }
} .u-section-5 {
  background-image: linear-gradient(#e99465, #db545a);
}

.u-section-5 .u-sheet-1 {
  min-height: 2273px;
}

.u-section-5 .u-text-1 {
  line-height: 1.2;
  text-transform: none;
  font-size: 6rem;
  width: 515px;
  margin: 90px auto 0;
}

.u-section-5 .u-shape-1 {
  width: 250px;
  height: 23px;
  margin: -72px 51px 0 auto;
}

.u-section-5 .u-shape-2 {
  width: 250px;
  height: 23px;
  margin: -21px auto 0 41px;
}

.u-section-5 .u-text-2 {
  font-size: 3rem;
  width: 204px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 59px auto 0;
}

.u-section-5 .u-shape-3 {
  width: 18px;
  height: 75px;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  font-size: 1.875rem;
  line-height: 1.8;
  margin: -68px 592px 0 50px;
}

.u-section-5 .u-text-4 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: -5px 601px 0 149px;
}

.u-section-5 .u-shape-4 {
  width: 17px;
  height: 74px;
  margin: 0 auto;
}

.u-section-5 .u-shape-5 {
  width: 18px;
  height: 75px;
  margin: -20px auto 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.875rem;
  line-height: 1.8;
  margin: -119px 199px 0 601px;
}

.u-section-5 .u-text-6 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: -5px 313px 0 602px;
}

.u-section-5 .u-text-7 {
  font-size: 1.875rem;
  line-height: 1.8;
  margin: 1px 601px 0 192px;
}

.u-section-5 .u-text-8 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: -9px 622px 0 291px;
}

.u-section-5 .u-shape-6 {
  width: 18px;
  height: 75px;
  margin: -124px auto 0;
}

.u-section-5 .u-shape-7 {
  width: 18px;
  height: 75px;
  margin: 12px auto 0;
}

.u-section-5 .u-text-9 {
  font-size: 1.875rem;
  line-height: 1.8;
  margin: -23px 188px 0 601px;
}

.u-section-5 .u-text-10 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: -9px 313px 0 601px;
}

.u-section-5 .u-shape-8 {
  width: 17px;
  height: 74px;
  margin: -234px auto 0;
}

.u-section-5 .u-shape-9 {
  width: 18px;
  height: 75px;
  margin: 12px auto 0;
}

.u-section-5 .u-shape-10 {
  width: 18px;
  height: 75px;
  margin: 12px auto 0;
}

.u-section-5 .u-text-11 {
  font-size: 1.875rem;
  line-height: 1.8;
  margin: -9px 601px 0 192px;
}

.u-section-5 .u-text-12 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: -9px 622px 0 291px;
}

.u-section-5 .u-shape-11 {
  width: 18px;
  height: 75px;
  margin: -248px auto 0;
}

.u-section-5 .u-shape-12 {
  width: 17px;
  height: 74px;
  margin: 13px auto 0;
}

.u-section-5 .u-shape-13 {
  width: 18px;
  height: 75px;
  margin: 12px auto 0;
}

.u-section-5 .u-text-13 {
  font-size: 1.875rem;
  line-height: 1.8;
  margin: -1px 140px 0 601px;
}

.u-section-5 .u-text-14 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: -8px 313px 0 601px;
}

.u-section-5 .u-shape-14 {
  width: 18px;
  height: 75px;
  margin: -65px auto 0;
}

.u-section-5 .u-text-15 {
  font-size: 3.75rem;
  width: 257px;
  margin: 40px auto 0;
}

.u-section-5 .u-shape-15 {
  width: 18px;
  height: 75px;
  margin: 0 auto 0 561px;
}

.u-section-5 .u-shape-16 {
  width: 17px;
  height: 74px;
  margin: -20px auto 0;
}

.u-section-5 .u-text-16 {
  font-size: 1.875rem;
  line-height: 1.2;
  margin: -129px 601px 0 90px;
}

.u-section-5 .u-text-17 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 0 601px 0 149px;
}

.u-section-5 .u-text-18 {
  font-size: 1.875rem;
  line-height: 1.8;
  margin: 0 236px 0 601px;
}

.u-section-5 .u-shape-17 {
  width: 18px;
  height: 75px;
  margin: -49px auto 0;
}

.u-section-5 .u-text-19 {
  font-size: 3.75rem;
  margin: 40px 441px 0;
}

.u-section-5 .u-text-20 {
  font-size: 1.875rem;
  line-height: 1.2;
  margin: 0 90px 0 601px;
}

.u-section-5 .u-shape-18 {
  width: 18px;
  height: 75px;
  margin: -72px auto 0 561px;
}

.u-section-5 .u-shape-19 {
  width: 17px;
  height: 74px;
  margin: -20px auto 0 562px;
}

.u-section-5 .u-text-21 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: -57px 149px 0 601px;
}

.u-section-5 .u-text-22 {
  font-size: 1.875rem;
  line-height: 1.8;
  margin: 0 601px 0 236px;
}

.u-section-5 .u-shape-20 {
  width: 18px;
  height: 75px;
  margin: -48px auto 0 561px;
}

.u-section-5 .u-icon-1 {
  width: 116px;
  height: 116px;
  margin: 14px auto 0 766px;
  padding: 0;
}

.u-section-5 .u-text-23 {
  font-size: 3rem;
  margin: -89px 384px 60px 258px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2274px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 12px;
  }

  .u-section-5 .u-shape-3 {
    margin-top: 47px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: -70px;
    margin-right: 491px;
    margin-left: 134px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: -7px;
    margin-right: 491px;
    margin-left: 59px;
  }

  .u-section-5 .u-shape-4 {
    margin-top: -50px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 99px;
    margin-left: 501px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 213px;
    margin-left: 502px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 501px;
    margin-left: 92px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 522px;
    margin-left: 191px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 88px;
    margin-left: 501px;
  }

  .u-section-5 .u-text-10 {
    margin-right: 213px;
    margin-left: 501px;
  }

  .u-section-5 .u-text-11 {
    margin-right: 501px;
    margin-left: 92px;
  }

  .u-section-5 .u-text-12 {
    margin-right: 522px;
    margin-left: 191px;
  }

  .u-section-5 .u-text-13 {
    margin-right: 40px;
    margin-left: 501px;
  }

  .u-section-5 .u-text-14 {
    margin-right: 213px;
    margin-left: 501px;
  }

  .u-section-5 .u-shape-15 {
    margin-top: 26px;
    margin-left: auto;
  }

  .u-section-5 .u-shape-16 {
    margin-top: 11px;
  }

  .u-section-5 .u-text-16 {
    margin-top: -186px;
    margin-right: 491px;
    margin-left: 0;
  }

  .u-section-5 .u-text-17 {
    margin-right: 491px;
    margin-left: 59px;
  }

  .u-section-5 .u-text-18 {
    width: auto;
    margin-top: 45px;
    margin-right: 135px;
    margin-left: 502px;
  }

  .u-section-5 .u-shape-17 {
    margin-top: -37px;
  }

  .u-section-5 .u-text-19 {
    width: auto;
    margin-top: 59px;
    margin-left: 341px;
    margin-right: 341px;
  }

  .u-section-5 .u-text-20 {
    width: auto;
    margin-top: 33px;
    margin-right: -11px;
    margin-left: 502px;
  }

  .u-section-5 .u-shape-18 {
    margin-left: 461px;
  }

  .u-section-5 .u-shape-19 {
    margin-left: 462px;
  }

  .u-section-5 .u-text-21 {
    width: auto;
    margin-right: 38px;
    margin-left: 512px;
  }

  .u-section-5 .u-text-22 {
    width: auto;
    margin-top: 6px;
    margin-right: 497px;
    margin-left: 140px;
  }

  .u-section-5 .u-shape-20 {
    margin-top: -53px;
    margin-left: 461px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -19px;
    margin-left: 707px;
  }

  .u-section-5 .u-text-23 {
    width: auto;
    margin: -90px 201px 39px 118px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2175px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 56px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 19px;
  }

  .u-section-5 .u-shape-3 {
    margin-top: 14px;
  }

  .u-section-5 .u-text-3 {
    line-height: 1.2;
    margin-right: 381px;
    margin-left: 24px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 381px;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
    margin-left: 380px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 103px;
    margin-left: 392px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 373px;
    margin-left: 0;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-top: -8px;
    margin-right: 380px;
    margin-left: 114px;
  }

  .u-section-5 .u-shape-6 {
    margin-top: -125px;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin-top: -28px;
    margin-right: -11px;
    margin-left: 380px;
  }

  .u-section-5 .u-text-10 {
    width: auto;
    margin-right: 114px;
    margin-left: 380px;
  }

  .u-section-5 .u-shape-8 {
    margin-top: -229px;
  }

  .u-section-5 .u-text-11 {
    margin-right: 373px;
    margin-left: 0;
  }

  .u-section-5 .u-text-12 {
    width: auto;
    margin-right: 380px;
    margin-left: 114px;
  }

  .u-section-5 .u-text-13 {
    width: auto;
    margin-top: -7px;
    margin-right: -50px;
    margin-left: 371px;
  }

  .u-section-5 .u-text-14 {
    width: auto;
    margin-right: 123px;
    margin-left: 371px;
  }

  .u-section-5 .u-shape-14 {
    margin-top: -59px;
  }

  .u-section-5 .u-text-15 {
    margin-top: 57px;
  }

  .u-section-5 .u-shape-15 {
    margin-top: 9px;
  }

  .u-section-5 .u-text-16 {
    width: auto;
    margin-top: -178px;
    margin-right: 380px;
    margin-left: -108px;
  }

  .u-section-5 .u-text-17 {
    width: auto;
    margin-right: 380px;
    margin-left: -49px;
  }

  .u-section-5 .u-text-18 {
    margin-top: 40px;
    margin-right: 37px;
    margin-left: 380px;
  }

  .u-section-5 .u-shape-17 {
    margin-top: -40px;
  }

  .u-section-5 .u-text-19 {
    width: 258px;
    margin-top: 82px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-20 {
    margin-top: -9px;
    margin-right: -13px;
    margin-left: 380px;
  }

  .u-section-5 .u-shape-18 {
    margin-left: auto;
  }

  .u-section-5 .u-shape-19 {
    margin-left: auto;
  }

  .u-section-5 .u-text-21 {
    margin-right: -50px;
    margin-left: 380px;
  }

  .u-section-5 .u-text-22 {
    margin-top: 14px;
    margin-right: 373px;
    margin-left: 44px;
  }

  .u-section-5 .u-shape-20 {
    margin-top: -61px;
    margin-left: auto;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -3px;
    margin-left: 564px;
  }

  .u-section-5 .u-text-23 {
    margin-right: 59px;
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2309px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 38px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -13px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -7px;
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-5 .u-shape-4 {
    margin-top: -23px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 21px;
    margin-right: 200px;
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-right: 315px;
    margin-left: 0;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: 21px;
    margin-right: 0;
    margin-left: 193px;
  }

  .u-section-5 .u-text-8 {
    margin-top: -7px;
    margin-right: 0;
    margin-left: 314px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 23px;
    margin-right: 193px;
    margin-left: 0;
  }

  .u-section-5 .u-text-10 {
    margin-top: 2px;
    margin-right: 314px;
    margin-left: 0;
  }

  .u-section-5 .u-text-11 {
    width: auto;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 193px;
  }

  .u-section-5 .u-text-12 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 314px;
  }

  .u-section-5 .u-text-13 {
    margin-top: 17px;
    margin-right: 231px;
    margin-left: 0;
  }

  .u-section-5 .u-text-14 {
    margin-right: 314px;
    margin-left: 0;
  }

  .u-section-5 .u-text-15 {
    margin-top: 85px;
  }

  .u-section-5 .u-text-16 {
    margin-top: -8px;
    margin-right: 182px;
    margin-left: 0;
  }

  .u-section-5 .u-text-17 {
    margin-top: -3px;
    margin-right: 241px;
    margin-left: 0;
  }

  .u-section-5 .u-text-18 {
    margin-top: 19px;
    margin-right: 0;
    margin-left: 237px;
  }

  .u-section-5 .u-shape-17 {
    margin-top: -32px;
  }

  .u-section-5 .u-text-19 {
    margin-top: 66px;
  }

  .u-section-5 .u-text-20 {
    margin-top: 0;
    margin-right: 277px;
    margin-left: 0;
  }

  .u-section-5 .u-shape-18 {
    margin-left: 270px;
  }

  .u-section-5 .u-shape-19 {
    margin-left: 270px;
  }

  .u-section-5 .u-text-21 {
    margin-top: 0;
    margin-right: 240px;
    margin-left: 0;
  }

  .u-section-5 .u-text-22 {
    margin-top: 15px;
    margin-right: 0;
    margin-left: 237px;
  }

  .u-section-5 .u-shape-20 {
    margin-left: 270px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 82px;
    margin-right: 191px;
    margin-left: auto;
  }

  .u-section-5 .u-text-23 {
    margin-top: -170px;
    margin-right: 0;
    margin-left: 42px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2615px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    width: 261px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-2 {
    margin-top: 0;
  }

  .u-section-5 .u-text-3 {
    margin-top: 0;
    margin-left: 25px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 25px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 115px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 27px;
    margin-left: 93px;
  }

  .u-section-5 .u-text-8 {
    margin-top: 0;
    margin-left: 114px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 10px;
    margin-right: 100px;
  }

  .u-section-5 .u-text-10 {
    margin-top: 0;
    margin-right: 114px;
  }

  .u-section-5 .u-shape-8 {
    margin-top: -241px;
  }

  .u-section-5 .u-text-11 {
    margin-top: 31px;
    margin-left: 89px;
  }

  .u-section-5 .u-text-12 {
    margin-top: -7px;
    margin-left: 114px;
  }

  .u-section-5 .u-text-13 {
    margin-top: 28px;
    margin-right: 31px;
  }

  .u-section-5 .u-text-14 {
    margin-right: 114px;
  }

  .u-section-5 .u-text-15 {
    margin-top: 74px;
  }

  .u-section-5 .u-text-16 {
    margin-right: 115px;
  }

  .u-section-5 .u-text-17 {
    margin-right: 41px;
  }

  .u-section-5 .u-text-18 {
    margin-left: 37px;
  }

  .u-section-5 .u-text-20 {
    margin-right: 77px;
  }

  .u-section-5 .u-shape-18 {
    margin-left: 170px;
  }

  .u-section-5 .u-shape-19 {
    margin-left: 170px;
  }

  .u-section-5 .u-text-21 {
    margin-right: 40px;
  }

  .u-section-5 .u-text-22 {
    margin-left: 37px;
  }

  .u-section-5 .u-shape-20 {
    margin-left: 170px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 217px;
    margin-right: auto;
  }

  .u-section-5 .u-text-23 {
    margin-top: -270px;
    margin-left: 0;
    margin-bottom: 124px;
  }
}

.u-section-5 .u-text-2,
.u-section-5 .u-text-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-6 {
  background-image: linear-gradient(#db545a, #c8acb3);
}

.u-section-6 .u-sheet-1 {
  min-height: 1063px;
}

.u-section-6 .u-group-1 {
  width: 710px;
  min-height: 569px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 60px 0 0 auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-6 .u-text-1 {
  text-transform: none;
  width: 350px;
  font-weight: bold;
  margin: 70px auto 0;
}

.u-section-6 .u-text-2 {
  text-transform: uppercase;
  text-decoration: none solid rgb(17, 17, 17);
  font-size: 6rem;
  font-weight: bold;
  width: 56px;
  margin: 101px auto 0;
}

.u-section-6 .u-text-3 {
  text-transform: uppercase;
  text-decoration: none solid rgb(17, 17, 17);
  font-size: 6rem;
  font-weight: bold;
  margin: 0 197px 0 215px;
}

.u-section-6 .u-shape-1 {
  width: 515px;
  height: 516px;
  margin: -374px auto 0 0;
}

.u-section-6 .u-text-4 {
  text-transform: uppercase;
  text-decoration: none solid rgb(17, 17, 17);
  font-size: 6rem;
  font-weight: bold;
  margin: -315px 848px 60px 223px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 63px;
    padding-right: 63px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: -48px;
    margin-right: 70px;
    margin-left: 225px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: -316px;
    margin-right: 648px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: 583px;
    min-height: 529px;
    margin-top: 15px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 30px;
    padding-bottom: 0;
    padding-left: 0;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 75px;
    margin-right: 39px;
    margin-left: 69px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 28px;
    margin-right: 125px;
    margin-left: 277px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -80px;
    margin-right: 0;
    margin-left: 168px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: -83px;
  }

  .u-section-6 .u-text-4 {
    margin-top: -307px;
    margin-right: 428px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-1 {
    width: 218px;
    margin-top: 52px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-2 {
    width: 46px;
    margin-top: -73px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-3 {
    width: 291px;
    margin-top: -75px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-shape-1 {
    margin-top: -40px;
    margin-left: auto;
  }

  .u-section-6 .u-text-4 {
    width: 69px;
    margin-top: -334px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-6 .u-group-1 {
    min-height: 367px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -95px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-6 .u-shape-1 {
    height: 356px;
    margin-top: 66px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-4 {
    margin-top: -224px;
  }
}