 .u-section-1 {
  background-image: linear-gradient(white, #adf6f2);
}

.u-section-1 .u-sheet-1 {
  min-height: 739px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 34px 83px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 66px;
  height: 66px;
  margin: -131px 369px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 99px 730px 0 119px;
}

.u-section-1 .u-video-1 {
  width: 903px;
  height: 480px;
  margin: 0 auto 34px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 630px;
    margin-left: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 47px;
    margin-right: 8px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 294px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 77px;
    margin-right: 429px;
    margin-left: 0;
  }

  .u-section-1 .u-video-1 {
    width: 720px;
    height: 383px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 249px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 287px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -163px;
    margin-right: auto;
    margin-left: 125px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 23px;
    margin-right: 49px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 181px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 932px;
}

.u-section-2 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 786px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  margin: 40px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 40px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  margin: 40px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  margin: 40px auto 0;
}

.u-section-2 .u-text-8 {
  margin: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-5 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  margin: 40px auto 0;
}

.u-section-2 .u-text-10 {
  margin: 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-icon-6 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-11 {
  margin: 40px auto 0;
}

.u-section-2 .u-text-12 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 648px;
  }

  .u-section-2 .u-icon-1 {
    color: rgb(219, 84, 90) !important;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(219, 84, 90) !important;
  }

  .u-section-2 .u-icon-3 {
    color: rgb(219, 84, 90) !important;
  }

  .u-section-2 .u-icon-4 {
    color: rgb(219, 84, 90) !important;
  }

  .u-section-2 .u-icon-5 {
    color: rgb(219, 84, 90) !important;
  }

  .u-section-2 .u-icon-6 {
    color: rgb(219, 84, 90) !important;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1117px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: initial;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: initial;
  }

  .u-section-2 .u-text-6 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: initial;
  }

  .u-section-2 .u-text-8 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: initial;
  }

  .u-section-2 .u-text-10 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: initial;
  }

  .u-section-2 .u-text-12 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-8 {
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-10 {
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-12 {
    margin-bottom: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 726px;
}

.u-section-3 .u-shape-1 {
  width: 566px;
  height: 203px;
  margin: 84px 136px 0 auto;
}

.u-section-3 .u-text-1 {
  margin: -178px 167px 0 468px;
}

.u-section-3 .u-shape-2 {
  width: 250px;
  height: 75px;
  margin: -22px auto 0 123px;
}

.u-section-3 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 703px 0 58px;
}

.u-section-3 .u-shape-3 {
  width: 460px;
  height: 317px;
  margin: -155px 36px 0 auto;
}

.u-section-3 .u-text-3 {
  margin: -304px 84px 0 692px;
}

.u-section-3 .u-shape-4 {
  width: 250px;
  height: 75px;
  margin: -88px auto 60px 123px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    margin-top: 100px;
    margin-right: 81px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -175px;
    margin-right: 111px;
    margin-left: 324px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -46px;
    margin-left: 24px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 4px;
    margin-right: 643px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-3 {
    width: 379px;
    margin-top: -129px;
    margin-right: 12px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -307px;
    margin-right: 20px;
    margin-left: 557px;
  }

  .u-section-3 .u-shape-4 {
    margin-top: -112px;
    margin-left: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 997px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 341px;
    margin-right: auto;
    margin-left: 37px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -176px;
    margin-right: 147px;
    margin-left: 68px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -451px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    width: 505px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-shape-3 {
    width: 460px;
    margin-top: 358px;
    margin-right: -17px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 32px;
    margin-left: 325px;
  }

  .u-section-3 .u-shape-4 {
    margin-top: -599px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-shape-1 {
    margin-top: 334px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: -187px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -204px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -206px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-3 .u-shape-3 {
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    width: 363px;
    margin-top: -305px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-shape-4 {
    margin-top: -807px;
    margin-bottom: 132px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-shape-1 {
    margin-top: 352px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-top: -195px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -487px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 0;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: 351px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -307px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-shape-4 {
    margin-top: -592px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 987px;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 64px 204px 0 auto;
}

.u-section-4 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 204px;
}

.u-section-4 .u-text-1 {
  font-weight: normal;
  font-size: 3rem;
  margin: -58px auto 0 297px;
}

.u-section-4 .u-text-2 {
  font-weight: normal;
  font-size: 1.25rem;
  margin: 46px 7px 0;
}

.u-section-4 .u-text-3 {
  font-weight: normal;
  font-size: 3.75rem;
  margin: 128px auto 0 139px;
}

.u-section-4 .u-text-4 {
  font-size: 3.75rem;
  font-weight: normal;
  margin: -165px 139px 0 828px;
}

.u-section-4 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 735px;
}

.u-section-4 .u-rotation-parent-1 {
  width: 3867px;
  height: 260px;
  margin: 181px -1363px 0;
}

.u-section-4 .u-shape-1 {
  width: 260px;
  height: 3867px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 902px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 66px;
    margin-right: 100px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 100px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 87px;
    margin-left: 28px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: -164px;
    margin-right: 92px;
    margin-left: 711px;
  }

  .u-section-4 .u-icon-3 {
    margin-right: 241px;
    margin-left: auto;
  }

  .u-section-4 .u-rotation-parent-1 {
    width: 1894px;
    height: 189px;
    margin-top: 131px;
    margin-right: auto;
    margin-left: -513px;
  }

  .u-section-4 .u-shape-1 {
    width: 189px;
    height: 1894px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 997px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 82px;
    margin-right: auto;
    margin-left: 656px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    margin-left: 78px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 163px;
    margin-left: auto;
  }

  .u-section-4 .u-text-4 {
    width: 152px;
    margin-top: -374px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-icon-3 {
    width: 40px;
    height: 40px;
    margin-top: -53px;
    margin-right: auto;
    margin-left: 244px;
    padding: 0;
  }

  .u-section-4 .u-rotation-parent-1 {
    width: 1336px;
    height: 138px;
    margin-top: 336px;
    margin-left: -292px;
  }

  .u-section-4 .u-shape-1 {
    width: 138px;
    height: 1336px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 919px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 46px;
    margin-left: 373px;
  }

  .u-section-4 .u-icon-2 {
    margin-right: 426px;
    margin-left: 50px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 27px;
    margin-left: 36px;
    margin-right: 36px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 162px;
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -351px;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 134px;
  }

  .u-section-4 .u-rotation-parent-1 {
    width: 1664px;
    height: 107px;
    margin-top: 318px;
    margin-left: -638px;
  }

  .u-section-4 .u-shape-1 {
    width: 107px;
    height: 1664px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 938px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 400px;
  }

  .u-section-4 .u-icon-2 {
    margin-right: 180px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 36px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 36px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.875rem;
    margin-top: 132px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.875rem;
    width: 76px;
    margin-top: -189px;
  }

  .u-section-4 .u-icon-3 {
    margin-top: -40px;
    margin-left: 74px;
  }

  .u-section-4 .u-rotation-parent-1 {
    width: 915px;
    height: 91px;
    margin-top: 192px;
    margin-left: -315px;
  }

  .u-section-4 .u-shape-1 {
    width: 91px;
    height: 915px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 434px;
}

.u-section-5 .u-image-1 {
  width: 365px;
  height: 432px;
  margin: 1px auto 0 128px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-weight: normal;
  margin: -417px auto 0 205px;
}

.u-section-5 .u-text-2 {
  font-size: 3rem;
  font-weight: normal;
  margin: -22px 91px 60px 710px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    height: 433px;
    margin-right: 575px;
    margin-left: 0;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -426px;
    margin-left: 68px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin: -13px 68px 163px 556px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-5 .u-image-1 {
    margin-top: 97px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-1 {
    margin-top: -415px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    width: 284px;
    margin: 306px auto 60px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 24px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -426px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 315px;
    margin-bottom: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 403px;
    margin-top: -27px;
    margin-right: -7px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -369px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin: 266px 28px 41px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 2477px;
}

.u-section-6 .u-text-1 {
  font-weight: normal;
  font-size: 4.5rem;
  margin: 80px auto 0 372px;
}

.u-section-6 .u-text-2 {
  font-weight: normal;
  font-size: 3rem;
  margin: 1px auto 0 0;
}

.u-section-6 .u-list-1 {
  margin: 0 auto;
}

.u-section-6 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 1208px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.875rem;
  background-image: none;
  font-weight: normal;
  margin: 46px 23px 0;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px 0 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.875rem;
  background-image: none;
  font-weight: normal;
  margin: 46px 23px 0;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px 0 0;
}

.u-section-6 .u-text-5 {
  font-size: 1.875rem;
  background-image: none;
  font-weight: normal;
  margin: 46px 23px 0;
}

.u-section-6 .u-list-item-4 {
  background-image: none;
}

.u-section-6 .u-container-layout-4 {
  padding: 10px 0 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.875rem;
  background-image: none;
  font-weight: normal;
  margin: 46px 23px 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 10px 0 0;
}

.u-section-6 .u-text-7 {
  font-size: 1.875rem;
  background-image: none;
  font-weight: normal;
  margin: 46px 23px 0;
}

.u-section-6 .u-list-item-6 {
  background-image: none;
}

.u-section-6 .u-container-layout-6 {
  padding: 10px 0 0;
}

.u-section-6 .u-text-8 {
  font-size: 1.875rem;
  background-image: none;
  font-weight: normal;
  margin: 46px 23px 0;
}

.u-section-6 .u-list-item-7 {
  background-image: none;
}

.u-section-6 .u-container-layout-7 {
  padding: 10px 0 0;
}

.u-section-6 .u-text-9 {
  font-size: 1.875rem;
  background-image: none;
  font-weight: normal;
  margin: 46px 23px 0;
}

.u-section-6 .u-list-item-8 {
  background-image: none;
}

.u-section-6 .u-container-layout-8 {
  padding: 10px 0 0;
}

.u-section-6 .u-text-10 {
  font-size: 1.875rem;
  background-image: none;
  font-weight: normal;
  margin: 46px 23px 0;
}

.u-section-6 .u-container-layout-9 {
  padding: 10px 0 0;
}

.u-section-6 .u-text-11 {
  font-size: 1.875rem;
  background-image: none;
  font-weight: normal;
  margin: 46px 23px 0;
}

.u-section-6 .u-list-item-10 {
  background-image: none;
}

.u-section-6 .u-container-layout-10 {
  padding: 10px 0 0;
}

.u-section-6 .u-text-12 {
  font-size: 1.875rem;
  background-image: none;
  font-weight: normal;
  margin: 46px 23px 0;
}

.u-section-6 .u-list-item-11 {
  background-image: none;
}

.u-section-6 .u-container-layout-11 {
  padding: 10px 0 0;
}

.u-section-6 .u-text-13 {
  font-size: 1.875rem;
  background-image: none;
  font-weight: normal;
  margin: 46px 23px 0;
}

.u-section-6 .u-list-item-12 {
  background-image: none;
}

.u-section-6 .u-container-layout-12 {
  padding: 10px 0 0;
}

.u-section-6 .u-text-14 {
  font-size: 1.875rem;
  background-image: none;
  font-weight: normal;
  margin: 46px 23px 0;
}

.u-section-6 .u-container-layout-13 {
  padding: 10px 0 0;
}

.u-section-6 .u-text-15 {
  font-size: 1.875rem;
  background-image: none;
  font-weight: normal;
  margin: 46px 23px 0;
}

.u-section-6 .u-list-item-14 {
  background-image: none;
}

.u-section-6 .u-container-layout-14 {
  padding: 10px 0 0;
}

.u-section-6 .u-text-16 {
  font-size: 1.875rem;
  background-image: none;
  font-weight: normal;
  margin: 46px 23px 0;
}

.u-section-6 .u-list-item-15 {
  background-image: none;
}

.u-section-6 .u-container-layout-15 {
  padding: 10px 0 0;
}

.u-section-6 .u-text-17 {
  font-size: 1.875rem;
  background-image: none;
  font-weight: normal;
  margin: 46px 23px 0;
}

.u-section-6 .u-list-item-16 {
  background-image: none;
}

.u-section-6 .u-container-layout-16 {
  padding: 10px 0 0;
}

.u-section-6 .u-text-18 {
  font-size: 1.875rem;
  background-image: none;
  font-weight: normal;
  margin: 46px 23px 0;
}

.u-section-6 .u-container-layout-17 {
  padding: 10px 0 0;
}

.u-section-6 .u-text-19 {
  font-size: 1.875rem;
  background-image: none;
  font-weight: normal;
  margin: 46px 23px 0;
}

.u-section-6 .u-list-item-18 {
  background-image: none;
}

.u-section-6 .u-container-layout-18 {
  padding: 10px 0 0;
}

.u-section-6 .u-text-20 {
  font-size: 1.875rem;
  background-image: none;
  font-weight: normal;
  margin: 46px 23px 0;
}

.u-section-6 .u-list-item-19 {
  background-image: none;
}

.u-section-6 .u-container-layout-19 {
  padding: 10px 0 0;
}

.u-section-6 .u-text-21 {
  font-size: 1.875rem;
  background-image: none;
  font-weight: normal;
  margin: 46px 23px 0;
}

.u-section-6 .u-list-item-20 {
  background-image: none;
}

.u-section-6 .u-container-layout-20 {
  padding: 10px 0 0;
}

.u-section-6 .u-text-22 {
  font-size: 1.875rem;
  background-image: none;
  font-weight: normal;
  margin: 46px 23px 0;
}

.u-section-6 .u-text-23 {
  font-weight: normal;
  text-decoration: none solid rgb(17, 17, 17);
  margin: 236px 110px 0 0;
}

.u-section-6 .u-group-1 {
  width: 800px;
  min-height: 304px;
  margin: 40px auto 0 141px;
}

.u-section-6 .u-container-layout-21 {
  padding: 30px;
}

.u-section-6 .u-text-24 {
  font-size: 1.5rem;
  line-height: 2;
  margin: 0;
}

.u-section-6 .u-text-25 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: normal;
  margin: 93px 40px 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2182px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 14px;
    margin-left: auto;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 69px;
    margin-left: 26px;
  }

  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 996px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-22 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-23 {
    width: auto;
    margin-right: 26px;
  }

  .u-section-6 .u-group-1 {
    margin-right: 100px;
    margin-left: auto;
  }

  .u-section-6 .u-text-25 {
    width: auto;
    margin: 33px 130px 14px 70px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 4276px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 3052px;
  }

  .u-section-6 .u-text-23 {
    margin-right: 216px;
  }

  .u-section-6 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-25 {
    margin-left: 118px;
    margin-right: 118px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 4176px;
  }

  .u-section-6 .u-text-2 {
    margin-left: auto;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-text-23 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-25 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 4449px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 15px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-23 {
    margin-top: 176px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-6 .u-group-1 {
    min-height: 444px;
    margin-top: 25px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-25 {
    margin-top: 25px;
    margin-bottom: 57px;
  }
} .u-section-7 {
  background-image: linear-gradient(#fef9e6, #adf6f2);
}

.u-section-7 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-7 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 45px;
  margin-bottom: 15px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 708px;
  grid-gap: 0px 0px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-7 .u-image-1 {
  height: 380px;
  width: 380px;
  margin: 20px auto 0;
}

.u-section-7 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-7 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 74px;
  min-width: 42px;
  margin: 10px auto 0;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-7 .u-image-2 {
  height: 380px;
  width: 380px;
  margin: 20px auto 0;
}

.u-section-7 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-7 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 74px;
  min-width: 42px;
  margin: 10px auto 0;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

.u-section-7 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-7 .u-repeater-1 {
    min-height: 584px;
  }

  .u-section-7 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-7 .u-image-2 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-1 {
    height: 320px;
    width: 320px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-2 {
    height: 320px;
    width: 320px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-8 {
  background-image: linear-gradient(#adf6f2, #2cccc4);
}

.u-section-8 .u-sheet-1 {
  min-height: 398px;
}

.u-section-8 .u-icon-1 {
  width: 98px;
  height: 98px;
  margin: 107px 304px 0 auto;
  padding: 0;
}

.u-section-8 .u-text-1 {
  font-weight: 400;
  font-size: 4.5rem;
  margin: -88px auto 0;
}

.u-section-8 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 107px;
  min-width: 42px;
  margin: 38px auto 60px;
}

.u-section-8 .u-icon-2 {
  height: 100%;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 216px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 4px;
    margin-right: 180px;
  }

  .u-section-8 .u-text-1 {
    margin-top: -89px;
  }

  .u-section-8 .u-social-icons-1 {
    margin-bottom: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 113px;
    margin-right: 66px;
  }

  .u-section-8 .u-text-1 {
    margin-top: -90px;
    margin-right: 180px;
  }

  .u-section-8 .u-social-icons-1 {
    width: 106px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 325px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 60px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: -89px;
    margin-right: auto;
  }

  .u-section-8 .u-social-icons-1 {
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 249px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 51px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -68px;
    margin-left: 100px;
  }

  .u-section-8 .u-social-icons-1 {
    margin-left: 117px;
  }
}