.u-section-1 .u-sheet-1 {
  min-height: 402px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 60px auto 60px 420px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 222px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 130px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 256px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 95px;
    margin-left: 26px;
    margin-right: 26px;
  }
}